# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj *.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
filter
function_breaker
exec
breaker
preprocessor
tmp
test
filter

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#Ignore duplicate-code-detection-tool from https://github.com/platisd/duplicate-code-detection-tool
third-party/duplicate-code-detection-tool


#Ignore BigCloneEval Tool
BigCloneEval/
bigclonebench/

#Temporary Files
tmp/

#Documentation
Doxyfile.bak
docs/doxygen
assets

#Visual Code configurations
.vscode

build/**

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
__pycache__/
.cache
